body{
    background: url(./img/tower-block-8k-8k-uhd-city-lights-wallpaper-preview.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: sans-serif;
    margin: 0;
    transition: transform 0.3s ease;
}

  :root {
    --modal-duration: 1s;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .to{
    text-align: center;
    margin-top: 200px;
    color: white;
}

.lorrem{
    margin-top: 30px;
    text-align: center;
    color: white;
}

.buton{
    margin-left: 710px;
    margin-top: 50px;
    padding: 8px;
    border-radius: 5px;
    background-color: rgb(120, 228, 228);
    color: white;
    border: none;
}

.name{
    margin-top: 10px;
}

.inp{
    margin-top: 5px;
    padding: 5px 10px;
}
.suuu{
    
margin-top: 20px;
    margin-left: 20px;
    width: 280px;
    height: 380px;
}

#myDialog{
    margin-left: 600px;
    margin-top: 200px;
    border-radius: 10px;
    border: none;
    border: 1px solid white;
}
  
 
  
 
  
 
  
 
  
  
  